/*predetermined values*/
body{
    font-family: 'Sourse Sans Pro', sans-serif;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 10px;

}
h1 strong{
    color: #056fff;
}
h2{
    color: #056fff;
    margin: 10px;
} 
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}
a{
    font-family: 'Fjalla One', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
/*header*/
.header{
    
    background-color: #0F3F55 ;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    align-items: center;
}
.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    font-size: 18px;
}
.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
/*Portada*/
.portada{
    height: 300px;
    background-color: #0a2c3b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-portada{
    object-fit: cover;
}
/*projects*/
.project{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.project-details{
    width: 500px
}
.project-imageContainer{
    width: 700px;
    border-radius: 25px;
}
.project-imageContainer img{
    border-radius: 25px;
}

/*events*/
.events{
    display: flex;
    flex-wrap: wrap;
}
.event{
    margin: 10px;
    width: 550px;
    flex-shrink: 0;
    border-radius: 15px;
    overflow: hidden;
    background: #f4f4f4;
}
.event img{
    width: 550px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius:12px;
    border-top-right-radius: 12px;
}
.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description{
    text-align: left;
}
.event-urlButton{
    color: #056fff;
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/*contact*/
.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.contact-email{
    display: flex;
}
.contact-email figure{
    border: 1px solid gray;
    padding: 5px;
    padding-right: 3px;
    width: 40px;
    height: 40px;
    background-color: white;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contact-email input{
    border: 1px solid gray;
    border-style: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 48px;
    width: 500px;
}
.form-email button{
    display: block;
    margin-top: 15px;
    background: transparent;
    color: white;
    border-radius: 7px;
    width: 120px;
    height: 50px;
    border: 1px solid white;
}
.email-contact-icon{
    font-size: 40px;
    color: grey;
}
.form-email{
    border-color: grey;
    padding: 5px 20px;
}
.social{
    height: 50px;
}
.social-link{
    width: 50px;
    height: 50px;    
    display: inline-block;
    justify-items: center;
    margin-right: 10px;
}
.social-icon{
    font-size: 50px;
    color: white;
}
/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F3F55;
    padding: 25px;
    color: white;   
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;  
}
.footer div{
    margin: 0 10px;
}
.footer a{
    color: white;
}